<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanghe.springboot.mapper.EmployeeMapper">
    <select id="getEmpById" resultType="com.huanghe.springboot.bean.Employee" parameterType="int">
        select * from employee where id = #{id}
    </select>

    <!--public void inserEmp(Employee employee);-->
    <insert id="inserEmp" parameterType="com.huanghe.springboot.bean.Employee">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT Last_insert_id()
        </selectKey>
        INSERT INTO employee
        (lastName,gender,email,dId)
        VALUES(#{lastName},#{gender},#{email},#{dId})
    </insert>

    <!--public void updateEmp(Employee employee);-->
    <update id="updateEmp" parameterType="com.huanghe.springboot.bean.Employee">
        UPDATE employee SET lastName=#{lastName},email=#{email},gender=#{gender},d_id=#{dId} where id=#{id}
    </update>

    <!--public void deleteEmp(Integer id);-->
    <delete id="deleteEmp" parameterType="int">
        DELETE FROM employee WHERE id=#{id}
    </delete>
    <!-- Employee getEmpByLastName(String lastName);-->
    <select id="getEmpByLastName" parameterType="string" resultType="com.huanghe.springboot.bean.Employee">
        select * from employee where lastName = #{lastName}
    </select>





</mapper>